// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0095C6;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #707070;
$light-gray: #E9E9E9;
$lightest-gray: #E1E1E1;
$white: #FFFFFF;
