
// Standarizing behaviors
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button{
  font-size: 100%;
  font-family: inherit;
  border:0;
  padding:0;
  background-color: inherit
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.alert {
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  position: static;
}
.alert-info {
  color: $gray;
  background-color: $green;
  border: none;
  border-radius: 0;
}

// Specific CSS for your home-page
.small-text{
	font-size: 16px;
}

.wrapper{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex{
  display: flex
}

.flex-vertical{
  flex-direction: column;
}

.second-line{
  font-size: 16px;
  color: $gray;
  font-weight: 300;
  line-height: 1.5;
}

#query::placeholder{
  color: $lightest-gray
}

.form-home{
  margin:0 auto;
  width: 60%;
}

.form-home #query{
  margin: 0 auto;
  width: 100%;
}

.top-margin-20{
  margin-top: 20px
}

ul{
  list-style: none;
  margin: 0;
  padding: 0
}

.margin-10{
  margin: 10px
}

.margin-b-15{
  margin-bottom: 15px;
}

.gray-font{
  color: $gray
}

.width-60pg{
  width: 60%
}

.width-100pg{
  width: 100%
}

.height-60vh{
  height: 60vh
}

.gray-bg{
  background-color: $lightest-gray
}


.margin-auto{
  margin: auto
}

.medium-font{
  font-size: medium
}

// Media query for mobile phones
@media only screen and (max-width: 768px) {
  .info img{
    width: 145px;
  }

  .pages.home .container {
    display: flex;
    justify-content: center;
  }

  .small-text{
    font-size: 13px;
  }

}
