.team-pic > img {
 width: 100%;
}

.popularis-info {
 justify-content: space-between;
 width: 100%;
 height: 60vh;
}

.team-pic {
 width: 50%;
}

.team-description {
 width: 50%;
}

.gray-bg{
  background-color: $lightest-gray
}
