<div class="footer text-center">
  <div class="footer-text">
    <%= link_to 'Políticas de Uso & Términos y Condiciones', terms_path %>
  </div>
  <div class="footer-links text-center">
    <!-- <a href="#"><i class="fab fa-github"></i></a> -->
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>
</div>
