.blue-header{
  color: $blue;
}

.blue-header.font-18:hover{
    color: $gray
  }

.sentence-list{
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.font-18{
  font-size: 18px
}

.font-13{
  font-size: 13px;
}

.results{
  // margin-top: 70px;
  z-index:1;
  // padding-left: 40px
}

#query{
  color: $gray;
  width: 70%;
  margin-bottom: 20px
}

.search-bar form.form-inline input.btn.btn-flat{
  margin-left:10px;
  margin-top:-10px;
}

.wrap-elipsis{
  text-overflow: ellipsis;
  overflow-wrap: wrap
}

.search-bar{
  padding-top: 5px
}

.highlighted{
  font-weight: 900;
  font-size: 15px;
}

.min-height-75vh{
  min-height: 75vh;
}
