<div class="navbar-space"></div>
<div class="container">
  <div class="popularis-info flex">
    <div class="team-pic">
      <%= cl_image_tag "dto5gjux9rwrrlzr7san", alt: 'Popularis' %>
    </div>
    <div class="team-description">
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore unde, maiores vero quibusdam, facere architecto enim error quasi iste eligendi accusantium consequuntur, laudantium repellendus id quod doloremque laboriosam dolorem, earum.</span>
      <span>Repellat voluptatem laborum, voluptates odit! Excepturi voluptatum minima delectus, magni dolor harum mollitia voluptas nihil sed odio recusandae aliquam nulla libero assumenda, in soluta eius non, consequuntur ipsa sapiente ut!</span>
      <span>Mollitia ea ratione modi, sed minima sapiente nam fugit commodi reprehenderit minus! Omnis quisquam minus corporis consequuntur quo delectus officiis tempore consequatur, commodi aut, expedita ipsam, facere possimus quia placeat?</span>
      </p>
    </div>
  <div class="team-info">
    <div class="col-xs-12 col-md-2 col-lg 4 member">
      <div class="picture"></div>
      <div class="member-text"></div>
    </div>
    <div class="col-xs-12 col-md-2 col-lg 4 member">
      <div class="picture"></div>
      <div class="member-text"></div>
    </div>
    <div class="col-xs-12 col-md-2 col-lg 4 member">
      <div class="picture"></div>
      <div class="member-text"></div>
    </div>
    <div class="col-xs-12 col-md-2 col-lg 4 member">
      <div class="picture"></div>
      <div class="member-text"></div>
    </div>
    <div class="col-xs-12 col-md-2 col-lg 4 member">
      <div class="picture"></div>
      <div class="member-text"></div>
    </div>
    <div class="col-xs-12 col-md-2 col-lg 4 member">
      <div class="picture"></div>
      <div class="member-text"></div>
    </div>
  </div>
  </div>
</div>
