<div class="container">
  <div class="row wrapper">
    <div class="col-6 offset-3 text-center">
      <div>
        <div class="info">
          <%= cl_image_tag("dto5gjux9rwrrlzr7san",
          width: 400) %>
          <h5>Buscador de sentencias panameñas</h5>
        </div>
      </div>
      <div class="form flex flex-vertical">
        <%= form_tag sentences_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control-lg",
            placeholder: "incumplimiento de contrato"
          %>
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


