<div class="navbar-space"></div>
<div class="container">
  <h1>Feedbacks</h1>

  <table>
    <tr>
      <th>Justo lo que buscaba</th>
      <th>No era lo que buscaba</th>
    </tr>
    <tr>
      <td><%= @positive.count %></td>
      <td><%= @negative.count %></td>
    </tr>
  </table>
</div>
