.navbar {
  justify-content: space-between;
  background: white;
  float: right;
  width:100vw;
  height:10%;
  // padding:50px 50px 0px 50px;
  background-color: #FFFFFF;
    // z-index:999;
    // position: fixed;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width:150px;
  margin:20px
}
