.navbar {
  justify-content: space-between;
  background: white;
  float: right;
  width:100vw;
  height:10%;
  // padding:50px 50px 0px 50px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  // position:sticky;
  // top:0;
    // z-index:999;
    // position: fixed;
}

.home-menu{
  display: flex;
  justify-content: flex-end;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width:150px;
  padding:10px
}

.nav-item a{
  text-decoration: none;
  color: $gray;
  opacity: 0.5;
  &:hover{
    opacity: 1;
    text-decoration: none
  }
}

.navbar-space{
  height: 80px;
}

.navbar-nav{
//   display: flex;
  justify-content: space-between;
  width: 15%
}

@media (min-width: 576px) {
.navbar-expand-sm .navbar-nav {
  justify-content: space-between;
  }
}

